@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap');

:root {
  --primary: hsl(0, 100%, 68%);
  --dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

* {
  box-sizing: border-box;
}

html, 
body {
  font-family: 'Barlow', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  height: 100vh;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--dark-blue);

  background: #fff;
}

.text {
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  margin: 0 auto;
  position: relative;

  /* padding: 0 24px; */
  width: 100%;
  max-width: 375px;
}

header {
  display: flex;
  flex-direction: column;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 72px;
  padding: 24px;
}

.logo {
  width: 24px;
  height: 24px;
  
  transition: 0.2s ease-in-out;
}

.logo img {
  width: 100%;
}

.logo:hover {
  opacity: 0.8;
}

.illustra-container {
  width: 50%;
  height: 50%;
}

.illustra {
  height: 192px;
  width: 400px;

  margin-left: 8px;
  margin-top: 32px;
  /* margin: 32px 8px; */
}

.illustra img {
  height: 100%;
  width: 100%;
}

.bg-shape {
  background: var(--light-grayish-blue);
  width: 50%;
  height: 64%; /*56%*/
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  border-bottom-left-radius: 100px;
}

.menu-block {
  display: none;
}

.list-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 16px;
  /* background: #eee; */
}

.list-navigation a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  color: var(--grayish-blue);
}

.list-navigation a:hover {
  text-decoration: underline;
}

.list-navigation .new {
  background: var(--dark-blue);
  color: var(--light-grayish-blue);
  font-weight: bold;
  letter-spacing: 0.2rem;

  border-radius: 16px;
  padding: 4px 10px;
  transition: 0.2s ease-in-out;
}

.list-navigation .new:hover {
  text-decoration: none;
  opacity: 0.8;
}

.content {
  padding: 0 24px;
  margin: 8px 0;
}

.content .title {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4rem;
  /* background: #ddd; */
}

.content .description {
  color: var(--dark-grayish-blue);
  line-height: 2.4rem;
  /* background: #ccc; */
}

.content .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.content .buttons a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--grayish-blue);
  padding-right: 8px;
}
.content .buttons a:hover {
  text-decoration: underline;
}

.content .buttons .primary {
  background: var(--primary);
  color: var(--light-grayish-blue);
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 16px;
  transition: 0.2s ease-in-out;
}

.content .buttons .primary:hover {
  text-decoration: none;
  opacity: 0.8;
}

@media(min-width: 768px) {
  .container {
    max-width: 1020px;
  }

  .menu {
    display: none;
  }

  .menu-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-block a {
    text-decoration: none;
    text-transform: uppercase;

    color: var(--dark-blue);
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-left: 32px;
  }

  .menu-block a:hover {
    text-decoration: underline;
  }

  .menu-block .login {
    color: var(--grayish-blue);
    padding-left: 48px;
  }

  .illustra-container {
    width: 50%;
    height: 56%;
    position: absolute;
    right: 0;
    margin-top: 32px;
  }

  .illustra {
    width: 1000px;
  }

  .illustra img {
    height: auto;
    width: auto;
  }
  
  .bg-shape {
    height: 56%; 
  }

  .details {
    margin: 72px 170px;
    position: absolute;

    max-width: 35%;
  }

  .list-navigation {
    justify-content: flex-start;
    padding: 16px 24px;
  }

  .list-navigation a {
    margin-right: 16px;
    font-size: 1.6rem;
  }

  .content .title {
    font-size: 5.6rem;
    line-height: 6rem;
  }
  
  .content .description {
    width: 65%;
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  
  .content .buttons {
    margin-top: 32px;
    justify-content: flex-start;
  }
  
  .content .buttons a {
    font-size: 1.4rem;
  }
  
  .content .buttons .primary {
    font-size: 1.6rem;
    margin-right: 32px;
  }
}